.postEvent {
  border: 1px solid black;
  border-radius: 2%;
  box-shadow: 0px 5px 5px grey;
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin: 2vh 20vw;
  min-width: 50vw;
}

.eventGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#postedEventsHeader {
  text-align: center;
  margin: 2rem;
}

#deleteEventButton {
  background-color: red;
  margin-left: 5vw;
}
