/* Base Styles */

li {
  list-style: none;
}

/* body {
  background-color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
} */

.postUser {
  /* display: flex;
    flex-direction: column;	 */
  background: var(--black);
  color: var(--white);
  border: 2px solid #f42c04;
  border-radius: 3%;
  height: 30vh;
  width: 40vw;
  margin: 5% 3%;
}

.userDetails {
  padding: 0% 10%;
  padding-bottom: 0;
  text-align: center;
  font-size: 2rem;
  margin: auto 5%;
}

.userDetails input {
  font-size: larger;
}

.userNameField {
  padding: 2%;
}

.emailField {
  margin-top: 5%;
}

.userDetails button {
  border-radius: 3%;
  font-size: 2rem;
  margin-top: 20%;
}

.userList {
  display: flex;
}
