.eventInfo {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
}

.eventDescription {
    background-color: rgb(211, 211, 211);
    padding: 2rem;
    
}

.jumbotron {
    margin-bottom: 0;
}

.map {
    width: 50vw;
}

.mapRsvpContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.rsvp {
    width: 40vw;
}

h5 {
    text-decoration: underline;
}

#eventDetails{
    background-color: black;
    height: 100vh;
}