/*  Base Styles */
header {
  color: black;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  font-size: 0.7rem;
  width: 100vw;
  border-bottom: 3px solid rgb(54, 54, 54, 1);
}

nav ul {
  list-style: none;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  padding: 0rem 2rem;
}

nav li {
  margin-left: 3vw;
  list-style: none;
}

#loginWindow {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
  position: absolute;
  right: 0;
  background-color: white;
  padding: 2rem;
  border-left: 2px solid rgb(54, 54, 54, 1);
  border-bottom: 2px solid rgb(54, 54, 54, 1);
  box-shadow: 10px 10px 100vw 100vw rgba(0, 0, 0, 0.7);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

#dropdownMenu {
  background-color: transparent;
  border: none;
  color: blue;

}

#dropdownMenu:hover{
  border: none;
}


#dropdownMenu:focus{
  border: none;
  box-shadow: none;
}

.nav {
  padding: 20px 20px 0;
  /* background: #333; */
  width: fit-content;
}