

/*  Base Styles */
header {
  color: black;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  font-size: 0.7rem;
  width: 100vw;
  border-bottom: 3px solid rgb(54, 54, 54, 1);
}

nav ul {
  list-style: none;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  padding: 0rem 2rem;
}

nav li {
  margin-left: 3vw;
  list-style: none;
}
