#browseJumbo {
  background-image: url('./mainsearch.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 75%;

  color: white;
  border-radius: 0%;
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 1.2rem;
}

.browseButtons {
  border-radius: 0%;
  margin-right: 1vw;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

#browse {
  padding: 1rem;
}

/* #browse:hover {
  background-color: #;
} */

.cardGlow:hover {
  filter: drop-shadow(4px 2px 10px var(--primary));
}

a:link {
  text-decoration: none;
  text: black;
}
