/* Create color variables */
:root {
  --primary: #f42c04;
  --secondary: #e2856e;
  --secondary-light: #ada296;
  --neutral: #88a2aa;
  --black: #0f1a20;
  --white: #fff;
}

body{
  font-family: 'Open Sans', sans-serif;
}

